 var status = {
  filterStatus: function(status){
    var status_txt = '';
    if(status == '0'){
      status_txt = '已申请';
    }else if(status == '1'){
      status_txt = '已通过';
    }else if(status == '2'){
      status_txt = '未通过';
    }
    return status_txt;
  }
 }

 module.exports = {
  filterStatus: status.filterStatus
 }